<div class="parent">
  <h1>Welcome back to CodeScape!</h1>

  <div class="login-form-wrapper">
    <form class="login-form" method="POST" action="/login">
      <div>
        <input type="text" name="username" placeholder="Enter your username">
      </div>
      <div>
        <input type="password" name="password" placeholder="Enter your password">
      </div>
      <div class="button">
      <button type="submit">Log In</button>
      </div>
    </form>

  </div>
</div>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

<style>
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
  }
  .button {
    align-self: center;
  }
</style>