<section class="not-found-page">
    <div class="not-found-div">
        <h1>Error!</h1>
    </div>
    <div class="not-found-div-2">
            <h2>There was an error on the server!
        </h2>
    </div>
    <div class="not-found-button">
        <form action="/home">
            <button class="btn btn-primary" type="submit">HOME</button>
        </form>
    </div>

</section>