<div class="parent">
    <video autoplay muted loop id="myVideo">
        <source src="/images/Blurred Code.mp4" type="video/mp4">
    </video>
    <div class="banner">
        <img class="banner-img" src="/images/logo_transparent.png" alt="CodeScape banner" >
        <div class="text">
        <div>
        <h1>Welcome to CodeScape</h1>
        <br>
        <hr>
        <br>
        <h6>
            CodeScape is a code-snippet platform designed by developers for
            developers to allow the user to save snippets of code for future reference.
            CodeScape gives users the oppurtunity to share, find friends and 
            explore the work of other developers all on one platform.
        </h6>
        </div>
        </div>
    </div>
    <div class="buttons">
        <div>
            <form action="/login">
                <button class="btn-home" type="submit">Login</button>
            </form>
        </div>
        <div class="bottom">
            <form action="/signup">
                <button class="btn-home" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="credits">Built by <a href="https://www.linkedin.com/in/kalandemwamba/">Kalande</a> and <a href="https://www.linkedin.com/in/liliia-khrystiuk/">Lily</a></div>
</div>
<style>
    .parent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #47555e;
        height: 100%;
        width: 100%;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: black;
        opacity: 80%;
        width: 70%;
        height: 40%;
        border-radius: 20px;
        margin-top: 2%;
        padding: 10px;
        position: absolute;
    }
    .banner-img{
        width: 20%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: space-around;
        position: absolute;
        top: 65%;
        margin-top: 20px;
    }

    .btn-home {
        width: 200px;
        height: 60px;
        font-size: large;
        color: rgb( 227, 168, 120);
        border-radius: 20px;
        background: none;
        border: 3px solid rgb( 203, 103, 21);
    }

    .text {
        color: #eeee;
        align-self: center;
        position: absolute;
        top: 30%;
        font-size: 200%;
        width: 60%;
        height: 50%;
        margin-left:50px;
        display: flex;
        align-items: center;
    }

    h6{
        font-weight: 100;
        line-height: 120%;
    }

    .bottom {
        margin-top: 30px;
    }
    .btn-home:hover {
        cursor: pointer;
        color: white;
        background-color: rgb( 203, 103, 21);
    }

    .credits {
    position: absolute;
    top: 98%;
    color: #eeee;
    }
    
    a{
    color: rgba(187, 187, 187, 0.933);
    }

    video {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@media (max-width: 1450px){
    .banner {
        opacity: 80%;
        width: 70%;
        height: 40%;
        border-radius: 20px;
        margin-top: 2%;
        padding: 10px;
        position: absolute;
    }
    .banner-img{
        width: 22%;
    }

    .buttons {
        position: absolute;
        top: 55%;
        margin-top: 20px;
    }

    .btn-home {
        width: 150px;
        height: 70px;
        font-size: medium;
        border-radius: 20px;
        border: 3px solid rgb( 203, 103, 21);
    }

    .text {
        position: absolute;
        font-size: 150%;
        top: 15%;
        bottom: 25%;
        right: 15%;
        height: 70%;
        margin-left: 20%;
        overflow-y: auto;
    }

    .bottom {
        margin-top: 20px;
    }

    .credits {
     font-size: small;
    }
} 
    
@media (max-width: 1200px){
    .banner {
        opacity: 80%;
        width: 70%;
        height: 40%;
        border-radius: 20px;
        margin-top: 2%;
        padding: 10px;
        position: absolute;
    }
    .banner-img{
        width: 20%;
    }

    .buttons {
        position: absolute;
        top: 55%;
        margin-top: 20px;
    }

    .btn-home {
        width: 130px;
        height: 50px;
        font-size: medium;
        border-radius: 20px;
        border: 3px solid rgb( 203, 103, 21);
    }

    .text {
        position: absolute;
        font-size: 150%;
        top: 15%;
        bottom: 25%;
        right: 15%;
        height: 80%;
        margin-left: 20%;
    }

    .bottom {
        margin-top: 20px;
    }

    .credits {
     font-size: small;
    }
} 

@media (max-width: 1124px){
    .banner {
        opacity: 80%;
        width: 90%;
        height: 40%;
        border-radius: 20px;
        margin-top: 2%;
        padding: 10px;
        position: absolute;
    }
    .banner-img{
        width: 22%;
    }

    .buttons {
        position: absolute;
        top: 55%;
        margin-top: 20px;
    }

    .btn-home {
        width: 170px;
        height: 70px;
        font-size: medium;
        border-radius: 20px;
        border: 3px solid rgb( 203, 103, 21);
    }

    .text {
        position: absolute;
        font-size: 150%;
        top: 25%;
        bottom: 25%;
        right: 15%;
        height: 60%;
        margin-left: 20%;
        overflow-y: auto;
    }

    .bottom {
        margin-top: 20px;
    }

    .credits {
     font-size: small;
    }
} 
@media (max-width: 850px){
    .banner {
        opacity: 80%;
        width: 70%;
        height: 40%;
        border-radius: 20px;
        margin-top: 2%;
        padding: 10px;
        position: absolute;
    }
    .banner-img{
        width: 40%;
        align-self: center;
    }

    .buttons {
        position: absolute;
        top: 55%;
        margin-top: 20px;
    }

    .btn-home {
        width: 150px;
        height: 70px;
        font-size: medium;
        border-radius: 20px;
        border: 3px solid rgb( 203, 103, 21);
    }

    .text {
     display: none;
    }

    .bottom {
        margin-top: 20px;
    }

    .credits {
     font-size: small;
    }
} 

@media (max-width: 450px){
    .banner {
        opacity: 80%;
        width: 70%;
        height: 40%;
        border-radius: 20px;
        margin-top: 2%;
        padding: 10px;
        position: absolute;
    }
    .banner-img{
        width: 70%;
        align-self: center;
    }

    .buttons {
        position: absolute;
        top: 55%;
        margin-top: 20px;
    }

    .btn-home {
        width: 150px;
        height: 70px;
        font-size: large;
        border-radius: 20px;
        border: 3px solid rgb( 203, 103, 21);
    }

    .text {
     display: none;
    }

    .bottom {
        margin-top: 20px;
    }

    .credits {
     font-size: small;
    }
}
</style>