/* palette
Light grey rgb(245, 245, 245)
Grey rgb(179, 179, 179)
Dark grey rgb(71, 85, 94)
Light orange: rgb( 227, 168, 120) 
Orange: rgb( 203, 103, 21)
*/

.not-found-page{
    width: 100%;
    height: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(51, 61, 66);
}

.not-found-div{
    margin: 5rem;
    font-size: 5rem;
}

.not-found-div-2{
    margin-bottom: 7rem;
    font-size: 2.5rem;
}

.not-found-button button{
    width: 18rem;
    height: 6rem;
    background-color: rgb(71, 85, 94);
    color:white;
    border: 0.1rem solid rgb(71, 85, 94)rgb(71, 85, 94);
    border-radius: 0.4rem;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.not-found-button  button:hover{
  background-color: rgb(96, 119, 133);
}
/* --------------------- */
/* Start of Profile page */
/* --------------------- */
.main-content-profile{
    grid-column: 2/-1;
    grid-row: 1/-1;
    /* display: grid; */
    /* grid-template-columns: auto;
    grid-template-rows: 7rem auto; */
  }

.profile-image-wrapper{
    width: 5rem;
    height: 5rem;
}
  
.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
  /* End of Profile page */
