
/* palette
Light grey rgb(245, 245, 245)
Grey rgb(179, 179, 179)
Dark grey rgb(71, 85, 94)
Light orange: rgb( 227, 168, 120) 
Orange: rgb( 203, 103, 21)
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  /* to remove all the outlines of buttons */
}

body {
  background-color: rgb(245, 245, 245);
}


/* Home page */
.create-snippet-form{
  height: 300px;
  width: 500px
}

/* End of home page */
/* Discover page */

/* End of discover page */