body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* Home page */
.create-snippet-form{
  height: 300px;
  width: 500px
}

/* End of home page */

/* palette
Light grey rgb(245, 245, 245)
Grey rgb(179, 179, 179)
Dark grey rgb(71, 85, 94)
Light orange: rgb( 227, 168, 120) 
Orange: rgb( 203, 103, 21)
*/