<section class="discover-page" >
    
    <nav class="discover-nav">
        <div class="user-info">
            <div class="user-image-wrapper">
                <img src="../public/images/unnnamed.jpg" alt="user-pic">
            </div>
            <a href="/myprofile" class="user-link">{{username}} username </a>
        </div>
    </nav> 
    
</section>