<section class="discover-page" >
    
    <nav class="discover-nav">
        <div class="user-info">
            <div class="user-image-wrapper">
                <img src="/images/images.png"  alt="user-pic">
            </div>
            <a href="/myprofile" class="user-link">{{username}} username </a>
        </div>
        <div class="logo-wrapper">
            <p>CodeScape</p>
            <img src="/images/logo-dark.png" width="50px" alt="logo">
        </div>
    </nav> 
    <div class="nav-placeholder"> </div>
    <div class="discover-wrapper">
        <div class="sidebar">
            <div class="my-snippets">My snippets</div>
            <div class="my-snippets selected">Discover</div>
            <div class="my-snippets">Resources</div>
        </div>
   
        <div class="main-content-discover">
            <div class="language">Language dropdown
                <select name="languages" class="languages">
                    <option value="javascript">JavaScript</option>
                    <option value="python">Python</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                </select>
            </div>
            <div class="trending-boxes">
                <div class="trending-box"></div>
            </div>
        </div>
 </div>
    
</section>